<%- include('partials/_header'); %>
<%- include('partials/_navigation'); %>


    <header class=" mt-3 container">
        <h2 class="text-center my-3">
            <%= tekblog.title.toUpperCase(); %>
        </h2>
        <!-- <img src="<%= tekblog.images %>" style="max-height: 250px; max-width: 100%;" alt=""> -->
        <div>
            <img class ="d-block my-2" style="width: 100%; max-height: 400px;" src="<%= tekblog.images %>" alt="">
            <div class="container my-5">
                <%- include(tekblog.markPath); %>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 text-start">
                       <h4 style="font-family: 'Pacifico', cursive;"> <%= tekblog.author %>  </h4>
                    </div>
                    <div style="font-family: 'Pacifico', cursive;" class="col-lg-6 text-end">
                        <%= date %>  
                    </div>

                </div>

            </div>
            </p>
        </div>

    </header>



<%- include('partials/_footer'); %>
